<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Metaweather Msk List</title>
</head>
<h3>Actions availables<h3/>
    <form method="post" action="/showalldata">
        <input type="submit" value="showalldata" name="showalldata"/>
    </form>

    <form method="post" action="/cleandata">
        <input type="submit" value="cleandata" name="cleandata"/>
    </form>

    <form method="post" action="/update2">
        <input type="submit" value="update" name="update"/>
    </form>

    <form method="post" action="/showbydate">
        <div>
            
          <h style="font-size: x-large;">Weather Forecast Application</h>
          <p>Just pick up a date in the below form,<br> and you will see the forecast for this day.<br></p>
          <span class="input-group-addon">Please select a date:</span>
          <div class="select">

            <select name="date_select" class="select">
              {% for date in list_of_date %}
                <option class="select"  value="{{ date }}">{{date}}</option>
              {% endfor %}<br/>
            </select>
            <div class="select_arrow">
            </div>
          </div>
          <div>
            <button class="myButton" type="submit">Forecast</button>
          </div>

        </div>
          
      </form>
      
      <form action="/showbydate">
        <label for="enterdate">Enter date</label>
        <input type="text" name="enterdate" value="enterdate" required>
        <input type="submit" value="Submit">
    </form>

</body>
</html>

