<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Moscow weather forecast application - 2022 </title>
    <script type="text/javascript">
      var appInsights=window.appInsights||function(config){
      function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t}({
      instrumentationKey: "{{azure_appinsights_instrum_key}}"
      });
      window.appInsights=appInsights;
      appInsights.trackPageView();
      </script>

</head>

<table>
    <thead>
        <tr>
            <th colspan="2">Epam diploma v1.0 </th>
            <br>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: center; vertical-align: middle;">
              <p>Please pick date you need
                <br> weather forecast.</p>
                  
              <form method="post" action="/showbydate">
                <div>
                    
                  <span class="input-group-addon">Please select a date:</span>
                  <div class="select">

                    <select name="date_select" class="select">
                      {% for date in list_of_date %}
                      <option class="select"  value="{{ date }}">{{date}}</option> 
                      {% endfor %}<br/>
                    </select>
                    <div class="select_arrow">
                    </div>
                  </div>
                  <div>
                    <button class="myButton" type="submit">Forecast</button>
                  </div>

                </div>
                  
              </form>


            </td>
            
            <td style="text-align: center; vertical-align: middle;">
              <br> 
              <form method="post" action="/showalldata">
                <input type="submit" value="show all weather data" name="showalldata"/>
            </form>
            <br>
            <form method="post" action="/cleandata">
                <input type="submit" value="clean data in database" name="cleandata"/>
            </form>
            <br>
            <form method="post" action="/updatedb">
                <input type="submit" value="update db" name="updatedb"/>
            </form>
            <br>
     
            </td>
        </tr>
    </tbody>
</table>
  
</body>
</html>

